@import url(./sweed.css);
@import url(./color.css);
@import url(./font/hatton.css);
body{
 background-color: var(--background);
 scroll-behavior: smooth;
}
*{
    border: 1px solid red;
    scroll-behavior: smooth;
}
.nav-bar{
    height: 80px;
    position: fixed;
    padding-top: 0;
    z-index: 10;
    background-color: var(--primary);
}
.nav-bar-main{
 position: fixed;
 top: 80px;
 z-index: 10; 
 width: 100%;
 padding: 1rem 100px;
 background-color: var(--gray200);
}
.virtual-tour-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
    .virtual-tour-video:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    .virtual-tour-video:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    .virtual-tour-video:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
    .youtube-embed{
        width: 100%;
        height: 100%;
    }
.mobile-nav-toggle-button{
    display: none;
}
.nav-bar-main .nav-item:hover{
    color: var(--primary);
}
    .nav-bar-main .nav-item{

    color: var(--gra800);
    cursor: pointer;
}
.nav-bar .logo{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Poppins';
}
.side-section{
    height: 100%;
    position: relative;
    z-index: 1;
}
.hatton{
    font-family: hatton;
}
.poppins{
    font-family: 'Poppins';
}
.nav-item{
    color: var(--gray200);
    font-family: 'Poppins';
    margin: 0 1rem;
    cursor: pointer;
}
.nav-item:hover{
   color: var(--secondary);
}

.nav-item::after {
    width: 20px;
    bottom: 5px;
    background-color: var(--secondary);
  }
  
  .nav-item:hover::after {
    bottom: 10px;
    opacity: 1;
  }

.hero-section{
    height: 100vh;
    padding-right: 100px;
    background-size: cover;
    position: relative;
    padding-top:120px ;
    background-image: url(../assests/images/hero-section-image.jpg);
}
.enquire-form{
    padding: 2rem 1rem;
    width: 350px;
    border-radius:5px ;
    gap:2rem;
    background-color: var(--primary);
}
.enquire-form form{
    gap: 1.5rem;
}
.form-field label{
     font-size: .8rem;
     color: var(--gray50);
     margin-bottom: 3px;
}
.close-dialog-button{
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 15px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.112);
}
.form-field input{
    height: 40px;
    font-size: 0.9rem;
    border-radius: 5px;
    width: 100%;
    min-width: 280px;
    padding: 0 1rem;
     color: var(--gray700);
     font-family: 'Poppins';
     font-weight: 500;
}
.form-field input[type='submit']{
    cursor: pointer;
    color: var(--gray50);
}
.hero-section-wrapper .backgroud-gradient1,.hero-section-wrapper .backgroud-gradient2{
    bottom: 0;
    z-index: 1;
    width: 100%;
    height:100%;
    position: absolute;

background: rgba(25, 25, 25, .5);
}
.overview-wrapper{
    padding-top: 30px;
    padding-bottom:30px ;
}
.overview-wrapper .section-side{
    width: 45%;
}
.overview-wrapper .banner-wrapper{
    height: fit-content;
    border: 5px solid var(--primary);
}
.overview-wrapper .banner-image{
    position: relative;
    width: 100%;
    top: 2rem;
    left: 2rem;
}

.overview-item-wrapper{
    width: 100%;
}
.overview-item{
    min-width: 180px;
}
.overview-item .icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgba(244, 245, 247, 0.05);
}
.overview-item .title{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--gray50);
}
.body-large{
    font-weight:500;
    line-height: 1.8rem;
    font-size: 1.2rem;
}
.overview-item label{
    font-weight: 500;
    color: var(--gray300);
}
.overview-item .icon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgba(244, 245, 247, 0.05);
}
.overview-item .icon svg{
 
    fill: var(--secondary);
}
.mobile-nav-bar{
    position: fixed;
    top: 0;
    height: auto;
    z-index: 10;
    height: 0;
    overflow: hidden;
    width: 100vw;
    margin-top: 80px;
    padding-top: 20px;
}
.mobile-nav-bar .nav-item{
    padding: 5px 0;
    margin-top:10px;
    margin: 0;
    width: 100%;
    color: var(--gray800);
    border-bottom: 1px solid rgb(192, 194, 211) !important;
    font-size: 20px !important;
    font-weight: 500;
    font-family: 'Poppins';
}
.mobile-nav-bar.active{
    height: 100vh;
 background-color: #fff   ;
 animation: fadeIn 0.6s ease-in-out   forwards;
}
.bottom-bar-mobile{
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: none;
}
.video-player video{
    width:100%;
    height: auto;
}
.video-player{
    width: 100%;
        position: relative;
}
.video-player:hover .controls-wrapper{
   opacity: 1;
}
.controls-wrapper{
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.286);
}
.controls-wrapper .play-button{
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    height: 50px;
    background-color: var(--primary);
    border: none;
}
.controls-wrapper .play-button svg{
    fill: var(--secondary);
}
.ammenities-item-wrapper{
    gap: 2rem;
}
.ammenitie-item,.specifiaction-item{
    padding: 1rem 2rem;
    width: 230px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    cursor: pointer;
}
.ammenitie-item{
    flex-direction: row;
    flex-grow: 4;   
}
.ammenitie-item .icon img{
  width: 36px;
}
.specifiaction-item{
    min-width: 400px;
    flex-grow: 4; 
    height: auto;
    flex-direction: column;
}
.specifiaction-item li{
    font-size: .9rem;
    margin-top: 5px;
}
.specifications-item-wrapper{
    gap: 2rem;
}
.specifiaction-item .head{
  font-size: 1.2em;
}
.layout-slider img{
width: 400px;
padding: 5px;
border: 2px solid var(--secondary);
}
.layout-slider .floor-name{
  transform: rotate(90deg);
  transform-origin: 10px;
  padding-bottom: 20px;
  height:fit-content;
}

.plan-wrapper img{
width: 100%;
}
.plan-wrapper .section-side{
    width: 45%;

}
.location-slider .nearby-slide{
    padding: 1rem 1.5rem;
    min-height: 400px;
}
.location-slider .nearby-slide li{
    font-family: 'Poppins';
    list-style:square;
    margin-top: 5px;
}
.hightlight-slider{
    width: 100%;
}
.highlight-slide{
    position: relative;
}
.highlight-slide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.highlight-slide .background-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.41);
}
.highlight-slide .info-wrapper{
    position: absolute;
    z-index: 5;
    padding-top: 2rem;
    width: 500px;
    padding-left: 3rem;
}
.font-weight-500{
    font-weight: 500;
}
.ammenities-slider .info-wrapper h3{
    font-size: 1rem;
    font-weight: 500;
}
.ammenities-slider .info-wrapper{
    width: 500px;
    font-family: 'Poppins' !important;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: var(--gray50);
    opacity: 0.9;
    bottom: 0;
    position: absolute;
}
.dialog-overlay.active{
    display: flex;
}
.dialog-overlay.active .dialog-body{
   animation: fadeIn 0.6s ease-in-out   forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.dialog{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.dialog-overlay{
    display: none;
    width: 100vw;
    position: fixed;

    top: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.54);
    height: 100vh;
    backdrop-filter:5;
}
.dialog-body{
    animation: fadeIn 0.6s ease-in-out   reverse backwards;
    min-width: 400px;
    background-color: var(--primary);
    position: relative;
    padding-top: 30px;
}
.contact-wrapper{
    margin-top: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.ammenitie-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ammenitie-slide {
    width: 500px;
    height: 350px;
    object-fit: cover;
}
.contact-wrapper li{
    margin: 5px 0;
    list-style: disc;
    font-weight: 500;
    color: var(--gray700);
}
footer{
    background-color: var(--primary);
    padding-bottom:3rem !important ;
}
footer .nav-item{
    margin: 0;
}
.p-sm-none{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.fill-con-height{
    height: 100%;
}
.virtual-tour-wrapper{
    min-height: 280px;
}
.image-dialog{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.707);
    z-index: 15;
    display: none;
}
.image-dialog img{
    max-width: 80%;
    width: auto;
    max-height: 80%;
    transform: scale(0.9);
    height: auto;
    object-fit: cover;
}
.image-dialog.active{
    display: flex;
}
.close-image-dialog-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 30px;
    border: none;
    border-radius: 50%;
}
.image-dialog.active img{
    filter:brightness(1.3);
    animation: popUp 0.3s ease-in-out   forwards;
 }
 
 @keyframes popUp {
     from {
         transform: scale(0.9);
     }
     to {
        transform: scale(1);
    }
 }
 .next-image-dialog,.prev-image-dialog{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.305);
 }
 .next-image-dialog svg,.prev-image-dialog svg{
    fill: var(--gra700);
}
.mobile-nav-toggle-button button{
    background-color: transparent;
    border: none;
    outline: none;
}
@media only screen and (max-width: 1300px){
    .virtual-tour-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
           }
        
        .virtual-tour-video:nth-child(1) { grid-area: 1 / 1 / 2 / 4; }
        .virtual-tour-video:nth-child(2) {  grid-area: 2 / 1 / 3 / 2;  }
        .virtual-tour-video:nth-child(3) { grid-area: 2 / 2 / 3 / 3;
            position: relative;
        right: -5%; }

}
@media only screen and (max-width: 900px){
    .hero-section{
        padding: 0;
        flex-direction: column;
    }

    .hero-section-side{
    width: 100%;
    align-items: flex-start !important;
    }
    .hero-section-form{
        display: none;
    }
    .hero-secction-ad-banner{
        width: 80% !important;
        height: auto !important;
    }
    .overview-section-side-wrapper{
        flex-direction:column ;
        gap: 3rem;
    }
    .overview-section-side-wrapper .section-side{
        width: 100%;
    }
    .ammenitie-item{
        width: 300px;
    }
    .specifiaction-item{
        width: 45%;
    }

    .plan-wrapper-con .section-side{
        width: 48%;
    }
    
    .location-con .google-map{
        width: 100%;
    }
    .location-con{
        flex-direction: column;
        gap: 3rem;
    }
    .location-con .section-side{
         width: 100%;
    }
    .contact-wrapper .section-side .enquire-form{
        width: auto;
    }
    .contact-wrapper .section-side{
        width: 46%;
    }
    .banner-container{
        padding: 1rem 0;
    }
    .nav-bar-main{
        padding: .7rem 45px;  
    }
    .ammenities-slider .info-wrapper{
        width: 100%;
        text-align: center;
    }
    .highlight-slide img{
        height: 400px;
    }
    .ammenitie-slide{
        margin: 0;
    }
    .overview-item label{
        font-size: 1rem;
     }
     .overview-item-wrapper{
         gap:2rem;
         flex-wrap: wrap;
     }
     .overview-item .title{
        font-size: 1.2rem;
     }
     .overview-item .icon{
         width: 60px;
         height: 60px;
     }
     .overview-item{
        min-width: 45%;
     }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 786px) {
    .highlight-slide img{
        height: 300px;
    }
    .nav-bar-main{
        display: none;
    }
    .nav-items-wrapper{
        display: none;
    }
    .mobile-nav-toggle-button{
        display: flex;
    }
    .bottom-bar-mobile{
        display: inherit;
    }
    .plan-wrapper-con .section-side,.contact-con  .section-side{
        width: 100%;
    }
    .plan-wrapper-con{
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .contact-con{
        flex-direction: column;
        gap: 3rem;
    }
    .contact-con .enquire-form form{
       width: 100%;
    }
    .ammenitie-item{
        justify-content: flex-start;
        min-height: 60px;
    }
    
    .ammenities-item-wrapper{
        gap: 1.2rem;
    }
 
        .virtual-tour-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 20px;
              }
            
            .virtual-tour-video:nth-child(1) { grid-area: 1 / 1 / 2 / 4;  }
            .virtual-tour-video:nth-child(2) {grid-area: 2 / 1 / 3 / 2;}
            .virtual-tour-video:nth-child(3) { grid-area: 3 / 1 / 4 / 2;
             position:static;
            }
    .overview-item label{
       font-size: .9rem;
    }
    .overview-item-wrapper{
        flex-basis: 1;
        gap:2rem;
    }
    .overview-item .title{
       font-size: 1.3rem;
    }
    .overview-item .icon{
        width: 50px;
        height: 50px;

    }
    
}
.mobile-nav-toggle-button.open button.open-button{
    display: inherit;
}
.mobile-nav-toggle-button button.open-button{
    display: none;
}
.mobile-nav-toggle-button.open button.close-button{
    display: none;
}
.mobile-nav-toggle-button button.close-button{
    display: inherit;
}